@model CutTime.Web.Models.Barber

@{
    ViewData["Title"] = "Barberos";
}

<div style="padding:10px 20px 10px 20px">

    <h2>Borrar Barbero</h2>

    <h4>¿Esta seguro que desea eliminar al balbero?</h4>
    <div>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Lastname)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdBarber" />
            <input type="submit" value="Borrar" class="btn btn-danger" />            
        </form>
        <br/>
        <a asp-action="Index">Volver al Listado</a>
    </div>

</div>