@model IEnumerable<CutTime.Web.Models.Barber>

@{
 ViewData["Title"] = "Barberos";
}
     
<section class="content-header">
    <h1>Maestro de Barberos</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i> Maestros</li>
        <li class="active">Barberos</li>
    </ol>
</section>

<main role="main" class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Lista de Barberos</h3>
                        <div class="box-tools">
                            <p> <a asp-action="Create">Agregar Barbero</a> </p>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Id</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Correo</th>
                                <th>Telefono</th>
                            </tr>
                            <tbody>
                                @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdBarber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Lastname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.IdBarber">Editar</a> |
                                            <a asp-action="Details" asp-route-id="@item.IdBarber">Ver</a> |
                                            <a asp-action="Delete" asp-route-id="@item.IdBarber">Borrar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </div>
</main>
